## UMOJAHACK EXPRESSO PREDICTION CHURN CHALLENGE USING TENSORFLOW

In [1]:
import pandas as pd

In [2]:
Train = pd.read_csv('Train.csv')

In [3]:
Train.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK,CHURN
0,00000bfd7d50f01092811bc0c8d7b0d6fe7c3596,FATICK,K > 24 month,4250.0,15.0,4251.0,1417.0,17.0,4.0,388.0,46.0,1.0,1.0,2.0,NO,54,On net 200F=Unlimited _call24H,8.0,0
1,00000cb4a5d760de88fecb38e2f71b7bec52e834,NaN,I 18-21 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,4,NaN,NaN,1
2,00001654a9d9f96303d9969d0a4a851714a4bb57,NaN,K > 24 month,3600.0,2.0,1020.0,340.0,2.0,NaN,90.0,46.0,7.0,NaN,NaN,NO,17,On-net 1000F=10MilF;10d,1.0,0
3,00001dd6fa45f7ba044bd5d84937be464ce78ac2,DAKAR,K > 24 month,13500.0,15.0,13502.0,4501.0,18.0,43804.0,41.0,102.0,2.0,NaN,NaN,NO,62,"Data:1000F=5GB,7d",11.0,0
4,000028d9e13a595abe061f9b58f3d76ab907850f,DAKAR,K > 24 month,1000.0,1.0,985.0,328.0,1.0,NaN,39.0,24.0,NaN,NaN,NaN,NO,11,Mixt 250F=Unlimited_call24H,2.0,0

In [4]:
Train.shape

(2154048, 19)

In [5]:
Test = pd.read_csv('Test.csv')

In [6]:
Test.shape

(380127, 18)

In [7]:
Test.head()

,user_id,REGION,TENURE,MONTANT,FREQUENCE_RECH,REVENUE,ARPU_SEGMENT,FREQUENCE,DATA_VOLUME,ON_NET,ORANGE,TIGO,ZONE1,ZONE2,MRG,REGULARITY,TOP_PACK,FREQ_TOP_PACK
0,00001dbe00e56fc4b1c1b65dda63de2a5ece55f9,THIES,K > 24 month,5000.0,5.0,5000.0,1667.0,5.0,NaN,378.0,11.0,5.0,NaN,NaN,NO,42,On-net 1000F=10MilF;10d,5.0
1,000055d41c8a62052dd426592e8a4a3342bf565d,NaN,I 18-21 month,300.0,2.0,326.0,109.0,3.0,397.0,NaN,0.0,NaN,NaN,NaN,NO,41,"Data: 100 F=40MB,24H",1.0
2,000081dd3245e6869a4a9c574c7050e7bb84c2c8,DAKAR,K > 24 month,3300.0,25.0,3400.0,1133.0,26.0,7150.0,0.0,2.0,5.0,NaN,NaN,NO,57,"Data: 100 F=40MB,24H",22.0
3,0000b76d2145d9445d9ff6b65c9ebc4196c89337,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,9,NaN,NaN
4,0000bae5480628cf8fe51ad84bcb39772fc79224,NaN,K > 24 month,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NO,10,NaN,NaN

In [8]:
Train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2154048 entries, 0 to 2154047
Data columns (total 19 columns):
 #   Column          Dtype
---  ------          -----
 0   user_id         object
 1   REGION          object
 2   TENURE          object
 3   MONTANT         float64
 4   FREQUENCE_RECH  float64
 5   REVENUE         float64
 6   ARPU_SEGMENT    float64
 7   FREQUENCE       float64
 8   DATA_VOLUME     float64
 9   ON_NET          float64
 10  ORANGE          float64
 11  TIGO            float64
 12  ZONE1           float64
 13  ZONE2           float64
 14  MRG             object
 15  REGULARITY      int64
 16  TOP_PACK        object
 17  FREQ_TOP_PACK   float64
 18  CHURN           int64
dtypes: float64(12), int64(2), object(5)
memory usage: 312.2+ MB

In [9]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380127 entries, 0 to 380126
Data columns (total 18 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         380127 non-null  object
 1   REGION          230399 non-null  object
 2   TENURE          380127 non-null  object
 3   MONTANT         247072 non-null  float64
 4   FREQUENCE_RECH  247072 non-null  float64
 5   REVENUE         252754 non-null  float64
 6   ARPU_SEGMENT    252754 non-null  float64
 7   FREQUENCE       252754 non-null  float64
 8   DATA_VOLUME     193087 non-null  float64
 9   ON_NET          241613 non-null  float64
 10  ORANGE          222897 non-null  float64
 11  TIGO            153126 non-null  float64
 12  ZONE1           29861 non-null   float64
 13  ZONE2           24076 non-null   float64
 14  MRG             380127 non-null  object
 15  REGULARITY      380127 non-null  int64
 16  TOP_PACK        221348 non-null  object
 17  FREQ_TOP_PACK   221348 non-null  float64
dtypes: float64(12), int64(1), object(5)
memory usage: 52.2+ MB

In [10]:
Train.describe().T

,count,mean,std,min,25%,50%,75%,max
MONTANT,1397309.0,5532.116998,7111.339421,10.0,1000.0,3000.0,7350.0,470000.0
FREQUENCE_RECH,1397309.0,11.529120,13.274070,1.0,2.0,7.0,16.0,133.0
REVENUE,1428000.0,5510.810334,7187.112880,1.0,1000.0,3000.0,7368.0,532177.0
ARPU_SEGMENT,1428000.0,1836.942894,2395.699954,0.0,333.0,1000.0,2456.0,177392.0
FREQUENCE,1428000.0,13.978141,14.694035,1.0,3.0,9.0,20.0,91.0
DATA_VOLUME,1093615.0,3366.450167,13304.463667,0.0,0.0,257.0,2895.0,1823866.0
ON_NET,1367373.0,277.689140,872.688909,0.0,5.0,27.0,156.0,50809.0
ORANGE,1258800.0,95.418711,204.987266,0.0,7.0,29.0,99.0,21323.0
TIGO,864032.0,23.109253,63.578086,0.0,2.0,6.0,20.0,4174.0
ZONE1,169721.0,8.170132,41.169511,0.0,0.0,1.0,3.0,4792.0
ZONE2,136824.0,7.553309,33.487234,0.0,0.0,2.0,5.0,3697.0
REGULARITY,2154048.0,28.042505,22.286857,1.0,6.0,24.0,51.0,62.0
FREQ_TOP_PACK,1251454.0,9.272461,12.280443,1.0,2.0,5.0,12.0,713.0
CHURN,2154048.0,0.187547,0.390350,0.0,0.0,0.0,0.0,1.0

In [11]:
Test.describe().T

,count,mean,std,min,25%,50%,75%,max
MONTANT,247072.0,5524.958826,7116.320922,25.0,1000.0,3000.0,7350.0,201500.0
FREQUENCE_RECH,247072.0,11.519853,13.242743,1.0,2.0,7.0,16.0,146.0
REVENUE,252754.0,5499.680468,7195.093138,1.0,1000.0,3000.0,7351.0,200965.0
ARPU_SEGMENT,252754.0,1833.232443,2398.360570,0.0,333.0,1000.0,2450.0,66988.0
FREQUENCE,252754.0,13.957963,14.652660,1.0,3.0,9.0,19.0,91.0
DATA_VOLUME,193087.0,3346.095454,12002.653047,0.0,0.0,259.0,2884.0,977796.0
ON_NET,241613.0,278.806310,874.253933,0.0,5.0,27.0,157.0,26786.0
ORANGE,222897.0,95.193008,203.950776,0.0,7.0,29.0,99.0,6345.0
TIGO,153126.0,23.052088,65.042688,0.0,2.0,6.0,20.0,3708.0
ZONE1,29861.0,8.164663,48.857605,0.0,0.0,1.0,3.0,4215.0
ZONE2,24076.0,7.655300,33.021478,0.0,0.0,2.0,5.0,1649.0
REGULARITY,380127.0,28.081699,22.289094,1.0,6.0,24.0,51.0,62.0
FREQ_TOP_PACK,221348.0,9.261584,12.268907,1.0,2.0,5.0,12.0,390.0